
<h2><%= @assignment.name %> Grades</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>MultiPass</th>
      <th>Score</th>
      <th>Submitted</th>
    </tr>
  </thead>

  <tbody>
    <% @assignment.grades.each do |grade| %>
    <tr>
      <td><%= link_to grade.user.name, grade.user, class: "btn btn-default btn-xs" %></td>
      <td><%= grade.user.multipass_id %></td>
      <td><%= grade.score %></td>
      <td><%= grade.updated_at.localtime %></td>
    </tr>
    <% end %>
  </tbody>
</table>
