<div class="row" >
  <% provide(:title, @assignment.name) %>
  <div class="row" style="height: 500px;">
    <div class="col-md-12">
      <%= render 'flash_messages' %>
      <h4>Test Results</h4>
      <div id="progress_bar_container" class="progress progress-bar-segmented">
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'description_panel' %>
    </div>

    <div class="col-md-8">
      <%= render 'editor_panel' %>
    </div>
    <div id="modal-container">
      <%= render 'upload_modal' %>
      <%= render 'download_modal' %>

      <div class="modal fade" id="error_modal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close modal-close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Some error</h4>
            </div>
            <div class="modal-body">
              <p>Test modal</p>
            </div>
            <div class="modal-footer">
              <p>HEY</P>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  <%= render 'script' %>
