<div class="row" >
  <% provide(:title, @assignment.name) %>
  <div class="row" style="height: 500px;">
    <div class="col-md-12">
      <%= render 'flash_messages' %>
      <div>
        <h4 class="pull-left">Test Results</h4>
        <div class="btn-group pull-right">
          <% if current_user.role == "admin" %>
            <%= link_to 'Edit', rails_admin.edit_path(model_name: 'assignment', id: @assignment.id), class: "btn btn-danger" %>
          <% end %>
          <% if can? :grades, @assignment %>
            <%= link_to 'View Grades', assignments_grades_path, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div id="progress_bar_container" class="progress progress-bar-segmented">
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'description_panel' %>
    </div>

    <div class="col-md-8">
      <%= render 'editor_panel' %>
    </div>
  </div>
</div>

<div id="modal-container">
  <%= render 'upload_modal' %>
  <%= render 'download_modal' %>
  <%= render 'test_results_modal' %>
</div>

<%= render 'main_script' %>
<%= render 'test_code_script' %>
