<% provide(:title, @lab.name) %>

<p id="notice"><%= notice %></p>

<div>
  <h1 class="pull-left"><%= @lab.name %></h1>
  <% if can? :grades, @assignment %>
    <%= link_to "View grades for this lab", labs_grades_path, class: "btn btn-default btn-sm pull-right" %>
  <% end %>
</div>
<div class="clearfix"></div>
<% if @lab.due_date != nil %>
  <h5><%= @lab.due_date.localtime.strftime("Due on %B %d, %Y at %I:%M%p %Z") %></h5>
<% end %>
</br>
<p>
  <% @lab.assignments.each do |assignment| %>
  <%= link_to assignment.name, assignment, class: "btn btn-default btn-lg", 'data-no-turbolink' => true %>
  <% end %>
</p>
